amqp==5.2.0
asgiref==3.8.1
beautifulsoup4==4.12.3
billiard==4.2.0
celery==5.4.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.3
cryptography==42.0.8
defusedxml==0.7.1
diff-match-patch==20230430
Django==4.2.7
django-allauth==0.54.0
django-auto-logout==0.5.1
django-autoslug==1.9.9
django-bootstrap4==23.2
django-braces==1.15.0
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-ckeditor==6.6.1
django-ckeditor-5==0.2.12
django-cors-headers==4.1.0
django-countries==7.5.1
django-crispy-forms==1.14.0
django-debug-toolbar==4.1.0
django-discover-runner==1.0
django-environ==0.10.0
django-extensions==3.2.3
django-file-form==3.5.2
django-filter==23.2
django-import-export==3.2.0
django-jazzmin==2.6.1
django-js-asset==2.1.0
django-mathfilters==1.0.0
django-model-utils==4.3.1
django-mptt==0.14.0
django-mysql==4.10.0
django-recaptcha==4.0.0
django-redis==5.4.0
django-redis-cache==3.0.1
django-rename-app==0.1.6
django-role-permissions==3.2.0
django-shortuuidfield==0.1.3
django-social-share==2.3.0
django-tables2==2.6.0
django-taggit==4.0.0
django-timezone-field==5.1
environs==11.0.0
et-xmlfile==1.1.0
idna==3.7
kombu==5.3.7
marshmallow==3.21.3
oauthlib==3.2.2
odfpy==1.4.1
openpyxl==3.1.4
packaging==24.1
pillow==10.3.0
prompt_toolkit==3.0.47
pycparser==2.22
PyJWT==2.8.0
python-crontab==3.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python3-openid==3.2.0
pytz==2024.1
PyYAML==6.0.1
redis==3.5.3
requests==2.32.3
requests-oauthlib==2.0.0
shortuuid==1.0.13
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tablib==3.6.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.7.0
xlrd==2.0.1
xlwt==1.3.0
