{% extends 'partials/dashboard_base.html' %}
{% load static %}
{% block content %}
<nav>
    <i class="fa fa-bars"></i>
    <form action="#">
        <div class="form-input">
            <input type="search" name="" id="" placeholder="Search...">
            <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
        </div>
    </form>
    <a href="" class="notification">
        <i class="fa fa-bell"></i>
        <span class="num">{{total_noti}}</span>
    </a>
    <a href="#" class="profile">
        <img src="{% static 'assets/image/profile.jpg' %}" alt="">
    </a>
    <div class="profile-cont hidden" id="profile-cont">
        <div class="user-profile">
            <img src="{% static 'assets/image/profile.jpg' %}" alt="">
            <span><i class="fa fa-user"></i> Username</span>
            <span><i class="fa fa-envelope"></i> usejjkjdjfkjkdkfjkjr@mail.com</span>
            <a href="edit_profile.html"><i class="fa fa-cog"></i> Settings</a>
            <a href="#"><i class="fa fa-arrow-left"></i> Sign Out</a>
        </div>
    </div>
</nav>
<section id="sidebar">
    <a href="index.html" class="brand">
        <img src="{% static 'assets/image/logo.png' %}" alt="logo">
        <!-- <i class="fa fa-hospital-o"></i> -->
        <span class="text">MammoAi</span>
    </a>
    <ul class="side-menu top">
        <li>
            <a href="{% url 'user_dashboard:dashboard' %}">
                <i class="fa fa-dashboard"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url 'user_dashboard:records' %}">
                <i class="fa fa-folder"></i>
                <span class="text">Records</span>
            </a>
        </li>
        <li class="active">
            <a href="{% url 'user_dashboard:add_patient' %}">
                <i class="fa fa-plus-circle"></i>
                <span class="text">Add Patient</span>
            </a>
        </li>
        <li>
            <a href="{% url 'user_dashboard:upload' %}">
                <i class="fa fa-cloud-upload"></i>
                <span class="text">Upload Mammograph</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-exclamation-circle"></i>
                <span class="text">Help</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-group"></i>
                <span class="text">Team</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#">
                <i class="fa fa-cog"></i>
                <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a href="{% url 'userauths:sign-out' %}"  class="logout">
                <i class="fa fa-arrow-left"></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<main>
    <div class="head-title">
        <div class="left">
            <h1>Records</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="">Dashboard</a>
                </li>
                <li><i class="fa fa-chevron-right"></i></li>
                <li>
                    <a href="" class="active">Add Records</a>
                </li>
            </ul>
        </div>
        <div class="right-head">
            <!-- <a href="{% url 'user_dashboard:add_patient' %}" class="btn-add">
                <i class="fa fa-plus-circle"></i>
                <span class="text">New</span>
            </a> -->
            <!-- <a href="#" class="btn-download">
                <i class="fa fa-cloud-download"></i>
                <span class="text">Download PDF</span>
            </a> -->
        </div>
    </div>

    <!-- <ul class="box-info">
        <li>
            <i class="fa fa-calendar"></i>
            <span class="text">
                <h3>Welcome Radiologist</h3>
                <p>June 20, 2024</p>
            </span>
        </li>
        <li>
            <i class="fa fa-group"></i>
            <span class="text">
                <h3>2834</h3>
                <p>Visitors</p>
            </span>
        </li>
        <li>
            <i class="fa fa-dollar"></i>
            <span class="text">
                <h3>$2543</h3>
                <p>Total Sales</p>
            </span>
        </li>
    </ul> -->

    <div class="table-data">
        <div class="record">
            <div class="head">
                <h3><i class="fa fa-user"></i> ID: {{form.pid.value}}</h3>
                <!-- <i class="fa fa-search"></i>
                <i class="fa fa-filter"></i> -->
            </div>
            <div class='head'></div>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <legend>Personal Details</legend>
                    <div class="fieldset">
                        <div class="field">
                            <label for="fname">Firstname</label>
                            {{ form.firstname }}
                        </div>
                        <div class="field">
                            <label for="lname">Lastname</label>
                            {{ form.lastname }}
                        </div>
                        <div class="field">
                            <label for="age">Age</label>
                            {{ form.age }}
                        </div>
                        <div class="field gender">
                            <label for="gender">Gender</label>
                            {{ form.gender }}
                        </div>
                    </div>
                    <div class="fieldset">
                        <div class="field">
                            <label for="address">Address</label>
                            {{ form.address }}
                        </div>
                        <div class="field">
                            <label for="phone">Mobile</label>
                            {{ form.phone }}
                        </div>
                        <div class="field">
                            <label for="occupation">Occupation</label>
                            {{ form.occupation }}
                        </div>
                    </div>
                </fieldset>
                <fieldset class="health-info">
                    <legend>Health Info</legend>
                    <div class="fieldset">
                        <div class="field">
                            <label for="bhh">Breast Health History</label>
                            {{ form.breast_health }}
                        </div>
                    </div>
                    <div class="fieldset">
                        <div class="field">
                            <label for="mammogram_image">Mammogram Image</label>
                            {{ form.mammogram_image }}
                            <img id="mammogram_image_preview" alt="Mammogram Image Preview" style="display:none; width: 50px; height: 50px;"/>
                            {% if record.mammogram_image %}
                                <img src="{{ record.mammogram_image.url }}" alt="Mammogram Image" style="width: 50px; height: 50px; display: block;"/>
                            {% endif %}
                        </div>
                        <div class="field">
                            <label for="mh">Medical History</label>
                            {{ form.medical_history }}
                        </div>
                    </div>
                    <div class="fieldset">
                        <div class="field">
                            <label for="risk_assessment_form">Risk Assessment Form</label>
                            {{ form.risk_assessment_form }}
                            <img id="risk_assessment_form_preview" alt="Risk Assessment Form Preview" style="display:none; width: 50px; height: 50px;"/>
                            {% if record.risk_assessment_form %}
                                <img src="{{ record.risk_assessment_form.url }}" alt="Risk Assessment Form" style="width: 50px; height: 50px; display: block;"/>
                            {% endif %}
                        </div>
                        <div class="field">
                            <label for="notes">Notes</label>
                            {{ form.notes }}
                        </div>
                    </div>
                </fieldset>
                <div class="submit-form">
                    <button type="submit"><i class="fa fa-save"></i> Save Progress</button>
                </div>
            </form>
        </div>
    </div>
</main>
<script>
    let loadImg = function(event){
        let output = document.getElementById("mammogram_image_preview");
        output.src = URL.createObjectURL(event.target.files[0]);
        output.style.display = 'block';
        output.onload = function(){
            URL.revokeObjectURL(output.src);
        }
    }

    let loadFile = function(event){
        let output = document.getElementById("risk_assessment_form_preview");
        output.src = URL.createObjectURL(event.target.files[0]);
        output.style.display = 'block';
        output.onload = function(){
            URL.revokeObjectURL(output.src);
        }
    }
</script>

{% endblock %}
        