{% extends 'partials/dashboard_base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
    <nav>
        <i class="fa fa-bars"></i>
        <form action="#">
            <div class="form-input">
                <input type="search" name="" id="" placeholder="Search...">
                <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <a href="" class="notification">
            <i class="fa fa-bell"></i>
            <span class="num">{{total_noti}}</span>
        </a>
        <a href="#" class="profile">
            <img src="{% static 'assets/image/profile.jpg' %}" alt="">
        </a>
        <div class="profile-cont hidden" id="profile-cont">
            <div class="user-profile">
                <img src="{% static 'assets/image/profile.jpg' %}" alt="">
                <span><i class="fa fa-user"></i> Username</span>
                <span><i class="fa fa-envelope"></i> usejjkjdjfkjkdkfjkjr@mail.com</span>
                <a href="{% url 'userauths:profile' %}"><i class="fa fa-cog"></i> Settings</a>
                <a href="#"><i class="fa fa-arrow-left"></i> Sign Out</a>
            </div>
        </div>
    </nav>

    <section id="sidebar">
        <a href="index.html" class="brand">
            <img src="{% static 'assets/image/logo.png' %}" alt="logo">
            <!-- <i class="fa fa-hospital-o"></i> -->
            <span class="text">MammoAi</span>
        </a>
        <ul class="side-menu top">
            <li class="active">
                <a href="{% url 'user_dashboard:dashboard' %}">
                    <i class="fa fa-dashboard"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user_dashboard:records' %}">
                    <i class="fa fa-folder"></i>
                    <span class="text">Records</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user_dashboard:add_patient' %}">
                    <i class="fa fa-plus-circle"></i>
                    <span class="text">Add Patient</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user_dashboard:upload' %}">
                    <i class="fa fa-cloud-upload"></i>
                    <span class="text">Upload Mammograph</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-exclamation-circle"></i>
                    <span class="text">Help</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-group"></i>
                    <span class="text">Team</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="{% url 'userauths:profile' %}">
                    <i class="fa fa-user"></i>
                    <span class="text">Edit Profile</span>
                </a>
            </li>
            <li>
                <a href="{% url 'userauths:password_change' %}">
                    <i class="fa fa-cog"></i>
                    <span class="text">Settings</span>
                </a>
            </li>
            <li>
                <a href="{% url 'userauths:sign-out' %}"  class="logout">
                    <i class="fa fa-arrow-left"></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="">Dashboard</a>
                    </li>
                    <li><i class="fa fa-chevron-right"></i></li>
                    <li>
                        <a href="" class="active">Home</a>
                    </li>
                </ul>
            </div>
            <a href="{% url 'user_dashboard:upload' %}" class="btn-upload">
                <i class="fa fa-cloud-upload"></i>
                <span class="text">Upload Mammogram</span>
            </a>
        </div>

        <ul class="box-info">
            <li>
                <i class="fa fa-calendar"></i>
                <span class="text">
                    <h3>Welcome Radiologist {{request.user.username}}</h3>
                    <p>{{date}}</p>
                </span>
            </li>
            <li>
                <i class="fa fa-book"></i>
                <span class="text">
                    <h3>{{total_pat}}</h3>
                    <p>Records</p>
                </span>
            </li>
            <li>
                <i class="fa fa-dollar"></i>
                <span class="text">
                    <h3>09</h3>
                    <p>Appointments</p>
                </span>
            </li>
        </ul>

        <div class="table-data">
            <div class="record">
                <div class="head">
                    <h3>Recent Analysis</h3>
                    <i class="fa fa-search"></i>
                    <i class="fa fa-filter"></i>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <a href="#"><td>Pateient 1</td>
                                <td>10-12-2023</td>
                                <td><span class="status completed">Completed</span></td>
                            </a>
                        </tr>
                        <tr>
                            <a href="#"><td>Pateient 1</td>
                                <td>10-12-2023</td>
                                <td><span class="status pending">Pending</span></td>
                            </a>
                        </tr>
                        <tr>
                            <a href="#"><td>Pateient 1</td>
                                <td>10-12-2023</td>
                                <td><span class="status pending">Pending</span></td>
                            </a>
                        </tr>
                        <tr>
                            <a href="#"><td>Pateient 1</td>
                                <td>10-12-2023</td>
                                <td><span class="status process">Process</span></td>
                            </a>
                        </tr>
                        <tr>
                            <a href="#"><td>Pateient 1</td>
                                <td>10-12-2023</td>
                                <td><span class="status completed">Completed</span></td>
                            </a>
                        </tr>
                        <tr>
                            <a href="#"><td>Pateient 1</td>
                                <td>10-12-2023</td>
                                <td><span class="status pending">Pending</span></td>
                            </a>
                        </tr>
                        <tr>
                            <a href="#"><td>Pateient 1</td>
                                <td>10-12-2023</td>
                                <td><span class="status pending">Pending</span></td>
                            </a>
                        </tr>
                        <tr>
                            <a href="#"><td>Pateient 1</td>
                                <td>10-12-2023</td>
                                <td><span class="status process">Process</span></td>
                            </a>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="todo">
                <div class="head">
                    <h3>Notifications</h3>
                    <i class="fa fa-filter"></i>
                </div>
                <ul class="todo-list">
                    {% for n in notifications %}
                        {% if n.type == "User Registered" %}
                            <li class="completed">
                                <p>Welcome new user, we are excited for you to join us.</p>
                                <!-- <i class="fa fa-ellipsis-v"></i> -->
                                <a href="{% url 'user_dashboard:notification_mark_as_seen' n.id %}" class="delete"><i class="fa fa-trash"></i></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <!-- <li class="completed">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <i class="fa fa-ellipsis-v"></i>
                    </li>
                    <li class="not-completed">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <i class="fa fa-ellipsis-v"></i>
                    </li>
                    <li class="completed">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <i class="fa fa-ellipsis-v"></i>
                    </li>
                    <li class="not-completed">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, aliquam.</p>
                        <i class="fa fa-ellipsis-v"></i>
                    </li> -->
                </ul>
            </div>
        </div>
    </main>
{% endif %}
{% endblock %} 