{% extends 'partials/dashboard_base.html' %}
{% load static %}

{% block content %}
<nav>
    <i class="fa fa-bars"></i>
    {% include 'partials/search_bar.html' %}
    <a href="" class="notification">
        <i class="fa fa-bell"></i>
        <span class="num">{{total_noti}}</span>
    </a>
    <a href="#" class="profile">
        <img src="{% static 'assets/image/profile.jpg' %}" alt="">
    </a>
    <div class="profile-cont hidden" id="profile-cont">
        <div class="user-profile">
            <img src="{% static 'assets/image/profile.jpg' %}" alt="">
            <span><i class="fa fa-user"></i> Username</span>
            <span><i class="fa fa-envelope"></i> usejjkjdjfkjkdkfjkjr@mail.com</span>
            <a href="{% url 'userauths:profile' %}"><i class="fa fa-cog"></i> Settings</a>
            <a href="#"><i class="fa fa-arrow-left"></i> Sign Out</a>
        </div>
    </div>
</nav>
<section id="sidebar">
    <a href="{% url 'user_dashboard:dashboard' %}" class="brand">
        <img src="{% static 'assets/image/logo.png' %}" alt="logo">
        <!-- <i class="fa fa-hospital-o"></i> -->
        <span class="text">MammoAi</span>
    </a>
    <ul class="side-menu top">
        <li>
            <a href="{% url 'user_dashboard:dashboard' %}">
                <i class="fa fa-dashboard"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li class="active">
            <a href="{% url 'user_dashboard:records' %}">
                <i class="fa fa-folder"></i>
                <span class="text">Records</span>
            </a>
        </li>
        <li>
            <a href="{% url 'user_dashboard:add_patient' %}">
                <i class="fa fa-plus-circle"></i>
                <span class="text">Add Patient</span>
            </a>
        </li>
        <li>
            <a href="{% url 'user_dashboard:upload' %}">
                <i class="fa fa-cloud-upload"></i>
                <span class="text">Upload Mammograph</span>
            </a>
        </li>
        <!-- <li>
            <a href="#">
                <i class="fa fa-exclamation-circle"></i>
                <span class="text">Help</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-group"></i>
                <span class="text">Team</span>
            </a>
        </li> -->
    </ul>
    <ul class="side-menu">
        <li>
            <a href="{% url 'userauths:profile' %}">
                <i class="fa fa-user"></i>
                <span class="text">Edit Profile</span>
            </a>
        </li>
        <li>
            <a href="{% url 'userauths:password_change' %}">
                <i class="fa fa-cog"></i>
                <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a href="{% url 'userauths:sign-out' %}"  class="logout">
                <i class="fa fa-arrow-left"></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>

<main>
    <div class="head-title">
        <div class="left">
            <h1>Records</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'user_dashboard:dashboard' %}">Dashboard</a>
                </li>
                <li><i class="fa fa-chevron-right"></i></li>
                <li>
                    <a href="" class="active">Records</a>
                </li>
            </ul>
        </div>
        <div class="right-head">
            <a href="{% url 'user_dashboard:add_patient' %}" class="btn-add">
                <i class="fa fa-plus-circle"></i>
                <span class="text">New</span>
            </a>
            <!-- <a href="#" class="btn-download">
                <i class="fa fa-cloud-download"></i>
                <span class="text">Download PDF</span>
            </a> -->
        </div>
    </div>

    <!-- <ul class="box-info">
        <li>
            <i class="fa fa-calendar"></i>
            <span class="text">
                <h3>Welcome Radiologist</h3>
                <p>June 20, 2024</p>
            </span>
        </li>
        <li>
            <i class="fa fa-group"></i>
            <span class="text">
                <h3>2834</h3>
                <p>Visitors</p>
            </span>
        </li>
        <li>
            <i class="fa fa-dollar"></i>
            <span class="text">
                <h3>$2543</h3>
                <p>Total Sales</p>
            </span>
        </li>
    </ul> -->

    <div class="table-data">
        <div class="record">
            <div class="head">
                <h3>Patient Records</h3>
                <i class="fa fa-search"></i>
                <i class="fa fa-filter"></i>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Contact</th>
                        <th>Img. Analysis</th>
                        <th>Risk Assesment</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in patients %}
                    <tr>
                        <a href="#">
                            <td>{{ forloop.counter }}</td>
                            <td>{{p.firstname}} {{p.lastname}}</td>
                            <td>{{p.age}}</td>
                            <td>{{p.gender}}</td>
                            <td>{{p.phone}}</td>
                            <td><a href="#" class="report-link">Report</a></td>
                            <td><a href="#" class="report-link">Report</a></td>
                            <td><a href="{% url 'user_dashboard:edit_records' p.id  %}" class="edit"><i class="fa fa-pencil"></i></a></td>
                            <td><a href="{% url 'user_dashboard:delete_records' p.id  %}" class="delete"><i class="fa fa-trash"></i></a></td>
                        </a>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- <div class="todo">
            <div class="head">
                <h3>Notifications</h3>
                <i class="fa fa-filter"></i>
            </div>
            <ul class="todo-list">
                <li class="completed">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, atque!</p>
                    <i class="fa fa-ellipsis-v"></i>
                </li>
                <li class="completed">
                    <p>Lorem ipsum dolor sit amet.</p>
                    <i class="fa fa-ellipsis-v"></i>
                </li>
                <li class="not-completed">
                    <p>Lorem ipsum dolor sit amet.</p>
                    <i class="fa fa-ellipsis-v"></i>
                </li>
                <li class="completed">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <i class="fa fa-ellipsis-v"></i>
                </li>
                <li class="not-completed">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, aliquam.</p>
                    <i class="fa fa-ellipsis-v"></i>
                </li>
            </ul>
        </div> -->
    </div>
</main>

{% endblock %}
 