:root {
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;

    --light: #f9f9f9;
    --blue: #3c91e6;
    --light-blue: #cfe8ff;
    --grey: #eee;
    --dark-grey: #aaaaaa;
    --dark: #342e37;
    --red: #db504a;
    --yellow: #ffce28;
    --light-yellow: #fff2c6;
    --orange: #fd7238;
    --light-orange: #ffe0d3;
}

.bg-holder {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c91e69e;
    background-repeat: no-repeat;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    margin: calc((100vh - 30rem)/2) auto;
    background: var(--light);
    max-width: 90vw;
    font-family: 'Lato', sans-serif;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.9px);
    -webkit-backdrop-filter: blur(12.9px);
    border: 1px solid rgba(255, 255, 255, 0.26);
}

.img-cont{
    height: 100%;
}

.img-cont img{
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.form-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--light);
    height: 100%;
    border-radius: 0 20px 20px 0;
    margin: 1rem 3rem;
}

.brand {
    font-size: 2rem;
    color: var(--blue);
}

.form-cont form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.form-cont form .input-box{
    width: 100%;
}

.form-cont form input{
    width: 100%;
    height: 2.5rem;
    background: var(--grey);
    border: 1px solid #d3cbcb;
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
    color: #342e37;
}

.form-cont button{
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    color: #fff;
    cursor: pointer;
}

.form-cont .input-box button {
    width: 100%;
    height: 2rem;
    background: var(--blue);
    border-radius: 1rem;
}

.form-cont .input-box button:hover {
    background: #4d8ac6;
}

.form-cont form .forgot {
    color: var(--dark-grey);
}

.form-cont form .forgot:hover {
    color: var(--blue);
}

hr {
    background: var(--grey);
    margin: 1px;
    width: 100%;
}

.sign-with{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

/* responsiveness */

@media (max-width: 780px) {
    .container{
      flex-direction: column;
      max-width: 90vw;
      height: fit-content;
    }

    .img-cont {
      display: none;
    }

    .form-cont {
      width: 90vw;
      margin: 0;
      border-radius: 20px;
    }

    .form-cont form{
        width: 100%;
    }

    .form-cont form .input-box{
        max-width: 90%;
    }

    hr {
        max-width: 90%;
    }

    .sign-with{
        flex-direction: column;
      }
}